<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout :: head('favorites')"></head>
<body>
<div th:replace="layout :: nav"></div>
<div th:replace="layout :: searchbar"></div>
<div th:replace="layout :: flash"></div>
<div class="row user-meta">
    <div class="col s3 l12">
        <img class="circle" th:src="@{/icons/profile.png}" alt="avatar" />
    </div>
    <div class="col s9= l12">
        <h2 th:text="${username}">Jane Doe</h2>
        <div class="meta" th:text="|${#lists.size(phos)} Favorites|"></div>
    </div>
</div>
<div class="phos container">
    <div class="divider"></div>
    <div class="row">
        <div th:each="pho : ${phos}" class="col s12 l4">
            <a th:href="@{|/phos/${pho.id}|}" class="actions">
                <img th:src="@{|/phos/${pho.id}.gif|}" />
                <form th:action="@{|/phos/${pho.id}/favorite|}" method="post">
                    <button type="submit" th:class="(${pho.favorite}? 'un' : '') + 'mark favorite'"></button>
                </form>
            </a>
        </div>
    </div>
</div>
<div th:replace="layout :: scripts"></div>
</body>
</html>