<!DOCTYPE html>
<html lang="en">
<head th:replace="layout :: head('categories')"></head>
<body>
<div th:replace="layout :: nav"></div>
<div th:replace="layout :: searchbar"></div>
<div th:replace="layout :: flash"></div>
<div class="phos container">
    <h2 th:text="${category.name}" th:style="|color:${category.colorCode}|"></h2>
    <div class="row">
        <div th:each="pho : ${phos}" class="col s12 l4">
            <a th:href="@{|/phos/${pho.id}|}" class="actions">
                <img th:src="@{|/phos/${pho.id}.gif|}" alt="pho" />
                <a href="#" th:class="(${pho.favorite}? 'un' : '') + 'mark favorite'"></a>
            </a>
        </div>
    </div>
</div>
<div th:replace="layout :: scripts"></div>
</body>
</html>