<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout :: head('login')"></head>
<body>
<div>
    <div>
        <div class="col s3 m6 offset-m6">
            <div class="row user-meta">
                <div>
                    <img class="circle" th:src="@{/icons/profile.png}" alt="default profile img" />
                </div>
                <div class="login container">
                    <div th:replace="layout :: flash"></div>
                    <form th:action="@{/login}" th:object="${user}" method="post" class="login">
                        <!--input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" /-->
                        <div class="login container">
                            <div class="col s12= l12">
                                <input type="text" th:field="*{username}" placeholder="username"/>
                            </div>
                        </div>
                        <div class="login container">
                            <div class="col s12= l12">
                                <input type="password" th:field="*{password}" placeholder="password"/>
                            </div>
                        </div>
                        <div class="login container">
                            <div class="col s12= l12">
                                <button type="submit" class="button">Login</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<div th:replace="layout :: scripts"></div>
</body>
</html>